* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: #A33E21;
}

header {
    background-color: #96F03C;
}

footer {
    background-color: #96F03C;
}

.content {
    margin: 0 auto;
    max-width: 1140px;
}

section {
    padding: 15px;
}

.about__img {
    display: flex;
    width: 25%;
    margin: 15px;
    border-radius: 10px;
}

h2 {
    color: #F05324;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
}

.about {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

pre {
    background: #1c1c1c;
}

code {
    font-family: monospace;
    color: white;
}

.skills {
    width: 80%;
    margin: 0 auto;
}
.skills p {
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
}
.skills-container {
    width: 80%;
    margin: 0 auto;
    background-color: #ddd;
    border-radius: 5px;
}

.skills-div {
    text-align: right;
    padding-right: 20px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
}

.python {
    width: 60%;
    background-color: #125d86;
}
.sql {
    width: 30%;
    background-color: #c00dd5;
}
.oneC {
    width: 60%;
    background-color: #4CAF50;
}
.js {
    width: 60%;
    background-color: #17ccb7;
}
.ts {
    width: 40%;
    background-color: #7e103d;
}
.html {
    width: 60%;
    background-color: #d5cb13;
}
.css {
    width: 60%;
    background-color: #8f79c7;
}

.education, .languages, .goals, .code-example, .experience{
    width: 80%;
    margin: 0 auto;
}


ul {
    list-style: none;
}

ul > li::before {
    content: '✔';
    margin-right: 10px;
}
