* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: #A33E21;
}

header {
    background-color: #96F03C;
}

footer {
    background-color: #96F03C;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    align-self: center;
}

footer > a {
    display: flex;
    height: 50px;
    text-decoration: none;
    color: #1c1c1c;
}

.content {
    margin: 0 auto;
    max-width: 1140px;
}

footer > a > p {
    margin: auto 0;
}

footer > a > p:hover {
    color: white;
}

section {
    padding: 15px;
}

.about__img {
    display: flex;
    height: 300px;
    margin: 15px;
    border-radius: 10px;
}

h2 {
    color: #F05324;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
}

.about {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
}

pre {
    background: #1c1c1c;
}

code {
    font-family: monospace;
    color: white;
}

.skills {
    width: 80%;
    margin: 0 auto;
}

.skills p {
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
}

.skills-container {
    width: 80%;
    margin: 0 auto;
    background-color: #ddd;
    border-radius: 5px;
}

.skills-div {
    text-align: right;
    padding-right: 20px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
}

.python {
    width: 60%;
    background-color: #125d86;
}

.sql {
    width: 30%;
    background-color: #c00dd5;
}

.oneC {
    width: 60%;
    background-color: #4CAF50;
}

.js {
    width: 60%;
    background-color: #17ccb7;
}

.ts {
    width: 40%;
    background-color: #7e103d;
}

.html {
    width: 60%;
    background-color: #d5cb13;
}

.css {
    width: 60%;
    background-color: #8f79c7;
}

.education, .languages, .goals, .code-example, .experience, .about {
    width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.content > nav > ul {
    display: flex;
}

nav > ul > li {
    display: flex;
    text-transform: uppercase;
    padding: 15px;
}

nav > ul > li > a {
    text-decoration: none;
    font-size: 1.5em;
    color: #A33E21;
}

nav > ul > li > a:hover {
    text-decoration: none;
    font-size: 1.5em;
    color: #c00dd5;
}

section > ul {
    list-style: none;
}

section > ul > li::before {
    content: '✔';
    margin-right: 10px;
}

h1 {
    width: 100%;
    margin-top: 20px;
    font-size: 36px;
}

.about__info > p {
    font-size: 20px;
}

address {
    font-size: 20px;
}

.about__info > a {
    text-decoration: none;
    margin: 10px auto;
    font-size: 20px;
    color: #A33E21;
}
@media (max-width: 1139px) {
    .about__img {
        height: 200px;
    }
    nav > ul > li {
        padding: 10px;
    }
    nav > ul > li > a {
        font-size: 0.9em;
    }
    .about__info > p {
        font-size: 16px;
    }
    h1 {
        font-size: 24px;
    }
    address {
        font-size: 16px;
    }

    .about__info > a {
        font-size: 16px;
    }
}

@media (max-width: 720px) {
    .about__img {
        height: 200px;
    }
    nav > ul > li {
        padding: 5px;
    }
    nav > ul > li > a {
        font-size: 0.7em;
        padding: 5px;
    }
    .about__info > p {
        font-size: 14px;
    }
    h1 {
        font-size: 18px;
    }
    address {
        font-size: 14px;
    }

    .about__info > a {
        font-size: 14px;
    }
}

@media (max-width: 570px) {
    .about__img {
        height: 150px;
    }
    nav > ul > li {
        padding: 2px;
    }
    nav > ul > li > a {
        font-size: 0.5em;
    }
    .about__info > p {
        font-size: 10px;
    }
    h1 {
        font-size: 14px;
    }
    address {
        font-size: 10px;
    }

    .about__info > a {
        font-size: 10px;
    }
}
